In [301]:
%matplotlib inline
import re
import geonamescache
import pandas as pd
import unidecode

In [302]:
# regexp = re.compile("Zika")
gc = geonamescache.GeonamesCache()
from geonamescache.mappers import country
country_name2capital_mapper = country(from_key='name', to_key='capital')
cities_by_name = gc.get_dataset_by_key(gc.get_cities(), 'name')
countries_by_name = gc.get_dataset_by_key(gc.get_countries(), 'name')
country_accent_mapping = {
    unidecode.unidecode(country): country for country in countries_by_name
}

city_accent_mapping = {
    unidecode.unidecode(city): city for city in cities_by_name
}

In [303]:
def get_city_by_name(name):
    city_lat = 0
    city_long = 0
    city_countrycode = ''
    city_name = ''
    if name in city_accent_mapping.keys():
        city = cities_by_name[city_accent_mapping[name]]
        city_lat = city['latitude'] 
        city_long = city['longitude'] 
        city_countrycode = city['countrycode']
        city_name = name
    else:
         city_name = 'NaN'   
    return [city_name, city_lat, city_long, city_countrycode]

In [304]:
def find_city_and_country_in_word(word, prev_word, preprev_word, line_city, line_lat, line_long, line_country, line_capital, line_capital_lat,line_capital_long, line_countrycode):
    
    [prev_line_city, prev_line_lat, prev_line_long, prev_line_countrycode] = [line_city, line_lat, line_long, line_countrycode]
    word3 = preprev_word+' '+prev_word+' '+word
    [line_city, line_lat, line_long, line_countrycode] = get_city_by_name(word3)
    if line_city == 'NaN':
        word2 = prev_word+' '+word
        [line_city, line_lat, line_long, line_countrycode] = get_city_by_name(word2)
        if line_city == 'NaN':
            [line_city, line_lat, line_long, line_countrycode] = get_city_by_name(word)
            if line_city == 'NaN':
                [line_city, line_lat, line_long, line_countrycode] = [prev_line_city, prev_line_lat, prev_line_long, prev_line_countrycode]
                # check if word is country    
                country_capital = country_name2capital_mapper(word)
                if country_capital:
                    line_country = word
                    line_capital = unidecode.unidecode(country_capital)
                    # if there was no city detected in line previously
                    if prev_line_city == '':
                        [line_city, line_lat, line_long, line_countrycode] = get_city_by_name(line_capital)
                        if line_city != 'NaN':
                            line_capital = line_city
                            line_capital_lat = line_lat
                            line_capital_long = line_long
                        else:
                            print(word +' CAPITAL = ' +country_capital+' not found in cities dataset')
    
    return [line_city, line_lat, line_long, line_country, line_capital, line_capital_lat,line_capital_long, line_countrycode]

In [305]:
def find_city_and_country_in_line(line, line_count):
    line_count = line_count + 1
    # init
    preprev_word = ''
    prev_word = ''
    line_city = ''
    line_country = ''
    line_capital = ''
    line_lat = 0
    line_long = 0
    line_capital_lat  = 0
    line_capital_long = 0
    line_countrycode = ''
    # find geo names in line
    line_words = re.split('[ |?|!|\t|\n|\'|,]+', line) #'\W+'#print(line_words)
    for word in line_words:
        word = unidecode.unidecode(word)
        [line_city, line_lat, line_long, line_country, line_capital, line_capital_lat, line_capital_long, line_countrycode] = find_city_and_country_in_word(word, prev_word, preprev_word, line_city, line_lat, line_long, line_country, line_capital, line_capital_lat, line_capital_long, line_countrycode)
        preprev_word = prev_word
        prev_word = word
        
    return [line_city, line_lat, line_long, line_country, line_capital, line_capital_lat,line_capital_long, line_countrycode, line_count]

In [314]:
count = 0
line_count = 0
city_count = 0
city2_count = 0
city3_count = 0
country_count = 0
line_none_count = 0
df_line = []

file = open("data/headlines.txt", 'r')
for line in file.readlines():
    [line_city, line_lat, line_long, line_country, line_capital, line_capital_lat, line_capital_long, line_countrycode, line_count] = find_city_and_country_in_line(line, line_count)        
    # update names list
    line_city_name = 'NaN'
    line_country_name = 'NaN'
    line_countrycode_name = 'NaN'
    if line_city:
        line_city_name = line_city
        line_countrycode_name = line_countrycode
        city_count = city_count+1
        
    if line_country:
        line_country_name = line_country
        country_count = country_count + 1
        
    if not line_city and not line_country:
        line_none_count = line_none_count + 1
        #print('Line by NONE: '+ line)
    
    df_line = df_line + [[line, line_city_name, line_lat, line_long, line_countrycode_name]]
    

df_file = pd.DataFrame(df_line, columns = ['headline', 'cities', 'latitude', 'longitude', 'countrycode'])

        
file.close()

In [315]:
print('total headlines in file: '+ str(line_count))
print('total cities found: '+ str(city_count))
print('total countries found: '+ str(country_count))
print('total headlines with no match: '+ str(line_none_count))

total headlines in file: 650
total cities found: 608
total countries found: 9
total headlines with no match: 42

In [316]:
df_file.shape

(650, 5)

In [317]:
df_file

,headline,cities,latitude,longitude,countrycode
0,Zika Outbreak Hits Miami\n,Miami,25.77427,-80.19366,US
1,Could Zika Reach New York City?\n,New York City,40.71427,-74.00597,US
2,First Case of Zika in Miami Beach\n,Miami Beach,25.79065,-80.13005,US
3,"Mystery Virus Spreads in Recife, Brazil\n",Recife,-8.05389,-34.88111,BR
4,Dallas man comes down with case of Zika\n,Dallas,44.91928,-123.31705,US
5,Trinidad confirms first Zika case\n,Trinidad,-33.51650,-56.89957,UY
6,Zika Concerns are Spreading in Houston\n,Houston,29.76328,-95.36327,US
7,Geneve Scientists Battle to Find Cure\n,Geneve,46.20222,6.14569,CH
8,The CDC in Atlanta is Growing Worried\n,Atlanta,33.74900,-84.38798,US
9,Zika Infested Monkeys in Sao Paulo\n,Sao Paulo,-23.54750,-46.63611,BR
10,Brownsville teen contracts Zika virus\n,Brownsville,40.66094,-73.92014,US
11,Mosquito control efforts in St. Louis take new...,St. Louis,38.62727,-90.19789,US
12,San Juan reports 1st U.S. Zika-related death a...,San Juan,26.18924,-98.15529,US
13,"Flu outbreak in Galveston, Texas\n",Galveston,29.30135,-94.79770,US
14,Zika alert – Manila now threatened\n,Manila,14.60420,120.98220,PH
15,Zika afflicts 7 in Iloilo City\n,Iloilo,10.69694,122.56444,PH
16,New Los Angeles Hairstyle goes Viral\n,Los Angeles,34.05223,-118.24368,US
17,Louisiana Zika cases up to 26\n,NaN,0.00000,0.00000,NaN
18,Orlando volunteers aid Zika research\n,Orlando,28.53834,-81.37924,US
19,Zika infects pregnant woman in Cebu\n,NaN,0.00000,0.00000,NaN
20,Chicago's First Zika Case Confirmed\n,Chicago,41.85003,-87.65005,US
21,Tampa Bay Area Zika Case Count Climbs\n,Bay,14.18368,121.28554,PH
22,"Bad Water Leads to Sickness in Flint, Michigan\n",Flint,43.01253,-83.68746,US
23,Baltimore plans for Zika virus\n,Baltimore,39.29038,-76.61219,US
24,London Health Unit Tracks Mad Cow Disease\n,London,51.50853,-0.12574,GB
25,Zika cases in Vietnam's Ho Chi Minh City surge\n,Ho,6.60084,0.47130,GH
26,Philadelphia experts track pandemic\n,Philadelphia,39.95233,-75.16379,US
27,Flu season hits Boston\n,Boston,42.35843,-71.05977,US
28,Scientists in Paris to look for answers\n,Paris,33.66094,-95.55551,US
29,Key Zika Findings in San Diego Institute\n,San Diego,32.71571,-117.16472,US
...,...,...,...,...,...
620,How to Avoid Chikungunya in Hampton\n,Hampton,37.02987,-76.34522,US
621,Zika Reported in Sao Jose\n,Sao Jose,-28.21171,-49.16320,BR
622,Case of Norovirus Reported in Stratford\n,Stratford,41.18454,-73.13317,US
623,How to Avoid Hepatitis E in South Bend\n,South Bend,41.68338,-86.25001,US
624,Hepatitis C Outbreak in Bethlehem\n,Bethlehem,-28.23078,28.30707,ZA
625,Davenport is infested with Dengue\n,Davenport,41.52364,-90.57764,US
626,Rumors about Swine Flu spreading in Suzhou hav...,Suzhou,31.30408,120.59538,CN
627,Malaria Vaccine is now Required in Elyria\n,Elyria,41.36838,-82.10765,US
628,Zika case reported in Antioquia\n,NaN,0.00000,0.00000,NaN
629,Case of Swine Flu Reported in Tbilisi\n,Tbilisi,41.69411,44.83368,GE
630,Chikungunya has not Left Pismo Beach\n,NaN,0.00000,0.00000,NaN
631,Zika spreads to La Joya\n,NaN,0.00000,0.00000,NaN
632,Influenza Keeps Spreading in Suffolk\n,Suffolk,36.72836,-76.58496,US
633,More people in Allentown are infected with Chl...,Allentown,40.60843,-75.49018,US
634,Mad Cow Disease re-emerges in Bedford\n,Bedford,42.94647,-71.51590,US
635,Authorities are Worried about the Spread of He...,Yiwu,29.31506,120.07676,CN
636,Zika Outbreak in Yurimaguas\n,Yurimaguas,-5.90181,-76.12234,PE
637,Dengue Outbreak in Easton\n,Easton,40.68843,-75.22073,US
638,Varicella has Arrived in Milton\n,Milton,34.13216,-84.30067,US
639,New medicine wipes out Meningitis in Sevilla\n,Sevilla,37.38283,-5.97317,ES
640,Authorities are Worried about the Spread of Va...,Clovis,34.40480,-103.20523,US
641,More Zika patients reported in Fort Worth\n,Fort Worth,32.72541,-97.32085,US
642,Zika symptoms spotted in Boynton Beach\n,Boynton Beach,26.52535,-80.06643,US
643,Outbreak of Zika in Portoviejo\n,Portoviejo,-1.05458,-80.45445,EC
644,Influenza Exposure in Muscat\n,Muscat,23.58413,58.40778,OM
645,Rumors about Rabies spreading in Jerusalem hav...,Jerusalem,31.76904,35.21633,IL
646,More Zika patients reported in Indang\n,Indang,14.19528,120.87694,PH
647,Suva authorities confirmed the spread of Rotav...,Suva,-18.14161,178.44149,FJ
648,More Zika patients reported in Bella Vista\n,Bella Vista,36.48070,-94.27134,US
649,Zika Outbreak in Wichita Falls\n,Wichita Falls,33.91371,-98.49339,US

In [169]:
word = 'Brazil'#'Istanbul'#'Louisiana'
gc.get_cities_by_name(word)

[]

In [170]:
cities_by_name[word]

KeyError: 'Brazil'

In [171]:
countries_by_name[word]

{'geonameid': 3469034,
 'name': 'Brazil',
 'iso': 'BR',
 'iso3': 'BRA',
 'isonumeric': 76,
 'fips': 'BR',
 'continentcode': 'SA',
 'capital': 'Brasilia',
 'areakm2': 8511965,
 'population': 201103330,
 'tld': '.br',
 'currencycode': 'BRL',
 'currencyname': 'Real',
 'phone': '55',
 'postalcoderegex': '^\\d{5}-\\d{3}$',
 'languages': 'pt-BR,es,en,fr',
 'neighbours': 'SR,PE,BO,UY,GY,PY,GF,VE,CO,AR'}